@charset "utf-8";

/* 头部 */
header {
    padding: 0 13px;
    align-items: center;
}

header input {
    flex: 1;
    margin-left: 20px;
    margin-right: 13px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    padding-left: 20px;
}

/* 主要内容*/
.lunbo {
    /* background-color: #f1f1f1; */
    margin-bottom: 10px;
}
.lunbo img {
    width: 100%;
}
/* 分页器样式改变，默认小圆点 */
#swiper1 .swiper-pagination-bullet {
    width: 10px;
    height: 3px;
    border-radius: 0;
    background-color: #fff;
}

/* 轮播2*/
/* ul布局 */
#swiper2 ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}
#swiper2 ul li {
    width: 20%;
    padding:10px;
    box-sizing: border-box;
    text-align: center;
}
#swiper2 ul li a{
    color: #666666;
}
/* 分页器样式改变，默认小圆点 */
#swiper2 .swiper-pagination-bullet {
    width: 10px;
    height: 3px;
    border-radius: 0;
    background-color: #E43130;
}

/* 乐购秒杀 */
.seckill{
    padding:15px 0px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.seckill>div>span>span{
    padding-left: 5px;
}
.seckill>div{
    padding:0 10px;
}
.seckill ul li{
    width: 25%;
    padding:10px;
    text-align: center;
}
.seckill img{
    width: 100%;
}
/*购物 */
.shopping img{
    width: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
}
/* daily */
.daily img{
    width: 100%;
}
.daily ul{
    flex-wrap: wrap;
}
.daily ul li{
    width: 24.5%;
    margin-top: 2px;
    align-items: center;
    background-color: #fff;
    padding:5px 0 12px 0;
}
.daily .s1,.daily .s2{
    line-height:20px;
}
.daily li:nth-child(odd) span:nth-child(1){
    color: transparent;
    background-image: linear-gradient(90deg, #FF2A00, #FF00AF);
    -webkit-background-clip: text;
}
.daily li:nth-child(even) span:nth-child(1){
    color: transparent;
    background-image: linear-gradient(90deg, #2AD396, #85BB1F);
    -webkit-background-clip: text;
}
/* 快报 */
.news{
    height: 40px;
    line-height: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.news span{
    margin:0 5px 0 10px;
}
.news a{
    margin:0 5px;
    color: #000;
}
.swiper-container3 {
    flex:1;
    overflow: hidden;
}
.swiper-container3 .swiper-slide{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 为你推荐 */
.recommend img{
    width: 100%;
}
.recommend ul li{
    width: 48%;
    padding-bottom: 26px;
    margin-bottom: 5px;
}
.recommend ul li p:nth-child(2){
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.recommend ul li button{
   border:1px solid #ccc;
   width: 50px;
   height: 22px;
   margin-right: 10px;
}
/* 尾部分界线 */
.bottomline{
    width: 96%;
    margin: 0 auto;
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #333;
}
.bottomline .line{
    border-bottom: 1px solid #ddd;
    flex: 1;
}
.bottomline .text{
    flex: 0 0 100px;
    text-align: center;
}
/* 尾部 */
footer{
    justify-content: space-around;
    color:#666666;
    align-items: center;
}
footer div{
    text-align: center;
}
footer p{
    margin-top: 5px;
}