@charset "utf-8";
header{
    border-bottom: 1px solid #F7F7F7;
    align-items: center;
    padding: 0 10px;
}
header .search{
    flex: 1;
    padding: 0 10px;
}
header>span{
font-size:24px;
}
header input{
    width: 100%;
    height: 28px;
    border-radius:15px;
    border:none;
    outline: 0;
    background-color: #f7f7f7;
    padding-left: 2em;
}
header .search .iconfont{
    top: 6px;
    left: 16px;
}
header button{
    width: 40px;
    height: 30px;
    border: 0;
    border-radius: 5px;
}
/* 搜索历史 */
.history{
    padding-bottom: 30px;
}
.history .recent{
    line-height: 80px;
    padding:0 10px;
}
.history ul{
    flex-wrap: wrap;
}
.history ul li{
    background-color: rgb(223, 217, 217);
    padding: 5px;
    margin:5px 10px;
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    line-height: 20px;
}