@charset "utf-8";
body, h1, h2, h3, h4, h5, h6,  p, dl, dt, dd, ul, ol, li, form, button, input, textarea {
    margin: 0;
    padding: 0;
}
body{
    background: #f1f1f1;
}
a{
    text-decoration: none;
    color: #665c53;
}
ul,ol{
    list-style: none;
}
.cf::after{
    content: '';
    display: block;
    clear: both;
}
img{
	vertical-align: bottom;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.lf{
	float: left;
}
.rf{
	float: right;
}
#back {
    width: 40px;
    height: 40px;
    background-color: #f00;
    text-align: center;
    padding: 10px;
    color: #fff;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
}
