@charset "utf-8";
/*头部导航*/
.topnav{
    line-height: 30px;
    border-bottom: 1px solid #dcdcdc;
    color:#98a1a0;
    font-size: 11px;
    background: #fff;
}
.topnav span{
    color: #59565f;
}
.topnav img{
    position: relative;
    bottom:2px;
    right: 5px;
}
.topnav a:link,.topnav a:visited{
    color: #5c87e5;
}
.topnav a:hover{
    color: #f00;
}
/* 头部*/
header{
    background: #fff;
    font-size:14px;
    line-height: 60px;
}
header img{
    width: 42px;
    position: relative;
    top: 10px;
    margin-right: 15px;
}
header span{
    font-size: 26px;
    color: #475467;
}
header ul li{
    width: 105px;
}
header li a{
    display:block;
    text-align: center;
}
header li div{
    display: none;
    width: 105px;
    background: #fff;
    font-size: 12px;
    position: absolute;
}
header a:hover,header ul a.on{
    background: #4a85e9;
    color: #fff;
}
header ul li:hover div{
    display: block;
}
/* 横幅*/
.banner{
    height:461px;
    background:url(../images/banner01.jpg) no-repeat 100% 100%;
    border-bottom:8px solid #cdcdcd;
}
.banner div{
    padding-top: 82px;
    padding-left: 56px;
    color: #fff;
}
.banner h1{
  display: inline-block;
  line-height: 50px;
  padding-bottom: 15px;
  border-bottom:1.5px solid #fff;
  margin-bottom: 15px;
}
/*导航*/
.banner nav{
    background: #fff;
    text-align: center;
    line-height: 120px;
    position: relative;
    top:114px;
    border-bottom:  1px dashed #d4d4d4;
}
.banner img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    vertical-align: middle;
}
.banner nav span{
    display: inline-block;
    width: 260px;
    line-height: 80px;
    border-right:  1px dashed #d4d4d4;
}
.banner span:last-child{
    border: 0;
}
.banner nav a:hover{
    color: #f00;    
}
/*导航*/ 
.middlenav{
    background: #fff;
    line-height: 40px;
    font-size: 14px;
    color: #635c53;
}
.middlenav img{
    width: 20px;    
    position: relative;
    bottom: 10px;
    margin-right: 20px;
    left: 10px;
}
.middlenav span{
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    padding-right: 10px;
    margin-right: 20px;
    border-right: 1px solid #000;
}
.middlenav a:hover{
    color: #f00;
}
/*主体*/
main{
    background: #fff;
    margin: 25px auto;
    width: 1200px;
}
aside dl{
    margin-top: 30px;
    margin-left: 20px;
}
aside dd{
line-height: 40px;
border-bottom: 1px solid #d9d9d9;
color: #58534f;
padding-left: 10px;
}
aside dt{
padding:10px 130px 10px 5px;
border-bottom: 1px solid #d9d9d9;
font-size: 14px;
font-weight: bold;
}
aside a:link,aside a:visited{
    color: #98999d;
}
aside a:hover{
    color: #f00;
}
/*主要内容*/
section{
    width: 786px;
    margin-left: 0;
    margin: 40px 106px 44px 0;
}
section>div{
    width: 210px;
    height: 246px;
    padding: 15px;
    border: 1px solid #efefef;
    margin: 10px;
}
section .pic1{
    width:210px;
    height: 210px;
}
section .pic2{
    padding:39px 58px;
}
section .pic3{
    width:200px;
    height: 210px;
    position: relative;
    left: 10px;
}
section .pic4{
    width:205px;
    height: 207px;
    position: relative;
}
section a:link,section a:visited{
    color: #4a85e9;
}
section .lf a:hover{
    color: #f00;
}
/*翻页*/
section  span a{
    text-align: center;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    border: 1.5px solid #cacaca;
    margin: 0 5px;
}
section span a:hover,section span a.on{
color: #000;
font-weight: bold;
 border:1.5px solid #fff;
}
section .page1{
    width: 50px;
}
section input{
    width: 27px;
    height: 19px;
    border: 1.5px solid #cacaca;
    outline: 0;
}
section .button1{
    width:45px;
    height: 24px;
    border: 1.5px solid #cacaca;
    color: #000;
    background: #fff;
}
section .button1:hover{
    outline: 0;
    cursor: pointer;
    background: #000;
    color: #fff;
}
section span{
    display: inline-block;
    margin-left: 200px;
    margin-top: 40px;
    color: #606060;
}
/*尾部*/
footer {
    background: #fff;
}
footer .container{
    height: 137px;
}
footer .lf img{
width: 50px;
margin:0 10px 30px 20px;
}
footer .rf img{
    width: 100px;
    height: 100px;
}
div .name{
    line-height:100px ;
    width: 350px;
    margin-top: 20px;
    font-size: 28px;
    color: #b2afa8;
    border-right: 1px dashed #d3d3d3;
}
footer .contact{
    margin-top:50px; 
    margin-left: 40px;
    color: #536b5b;
    font-size: 13px;
}
footer .rf{
    background: #eeeeee;
    font-size: 12px;
    padding: 6px;
    margin-top: 15px;
    margin-right: 30px;
}
footer .rf span{
    display: inline-block;
    padding-bottom: 35px;
    padding-right: 20px;
    padding-left: 10px;
}