/* 首页样式表 */
@charset "utf-8";
/* banner */
/* 导航栏设置 */
#banner {
    background-color: #4f089a;
    height: 450px;
    margin-top: 22px;
}

/* 导航栏列表 */
#banner ul {
    background-color: #a980ca;
    width: 230px;
    height: 410px;
    padding: 20px 0;
    left: 0;
    top: 0;
    z-index: inherit;
    flex-direction: column;
    justify-content: center;
}

/* li设置 */
#banner ul li {
    padding:0 25px;
    line-height: 35px;
}
#banner ul .onopen{
background-color: #fff;
color: #000;
}
#banner ul span {
    margin-right: 10px;
}
/* 二级菜单 */
#banner ul li div {
    width: 400px;
    height: 450px;
    display: none;
    top: 0;
    left: 230px;
    text-align: center;
    line-height: 25px;
}

#banner ul li:hover div {
    display: block;
}

/* 轮播图 */
#banner img {
    height: 450px;
    width: 1200px;
}

#banner .swiper-pagination-bullet {
    width: 50px;
    height: 5px;
    border-radius: 0;
    background-color: #fff;
}

#banner .swiper-container-horizontal>.swiper-pagination-bullets {
    left: 100px;
}


/* 电子书 */
#ebook {
    margin-top: 20px;
    text-align: center;
}

/* 顶部图片 */
#ebook .top img {
    width: 285px;
    height: 184px;
}

/* 中间图片设置 */
#ebook .middle {
    margin-top: 23px;
    width: 1200px;
}

#ebook .bot {
    margin: 30px 0 50px;
}

/* 倒计时图片 */
#ebook .bot .fl {
    margin-right: 13px;
}

#ebook .bot .fl img {
    width: 228px;
    height: 285px;
}

/* 倒计时*/
#ebook .timeover {
    bottom: 36px;
    left: 25px;
}

#ebook .timeover span:nth-child(2n-1) {
    width: 40px;
    line-height: 45px;
    background-color: #666666;
    margin: 0 5px;
}

/* 轮播图 */
#ebook .swiper-container1 {
    overflow: hidden;
    text-align: left;
}

/* 轮播盒子大小 */
#ebook .swiper-slide {
    height: 285px;
    background-color: #fff;
}

/* 轮播图片大小 */
#ebook .swiper-container1 img {
    width: 198px;
    height: 198px;
    margin: 13px;
}

/* 轮播图按钮设置 */
#ebook .swiper-button-prev {
    left: 0;
    outline: 0;
}

#ebook .swiper-button-next {
    right: 0;
    outline: 0;
}

/* 轮播图按钮颜色背景 */
.swiper-container1 .swiper-button-prev:after,
.swiper-container1 .swiper-button-next:after {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    width: 30px;
    line-height: 50px;
    text-align: center;
}

#ebook .swiper-button-next:after {
    border-radius: 30px 0 0 30px;
    background-color: rgba(0, 0, 0, 0.3)
}

#ebook .swiper-button-prev::after {
    border-radius: 0 30px 30px 0;
    background-color: rgba(0, 0, 0, 0.3)
}


/* 近日推荐 */
#recommend {
    height: 654px;
}

/* 题目 */
#recommend .title span {
    color: #333333;
    font-size: 30px;
    left: 510px;
    top: 60px;
}

/* 内容盒子设置 */
#recommend .pic>.fl,
#recommend .pic>.fr {
    width: 535px;
    height: 350px;
    padding: 30px 25px;
    letter-spacing: 1px;
}

#recommend .pic>.fl {
    background-color: #ffadbd;
}

#recommend .pic>.fr {
    background-color: #acd0ff;
}

/* 盒子内容题目字体颜色大小设置 */
#recommend div p:first-child {
    font-size: 26px;
}

#recommend div a {
    color: #9f9f9f;
    text-decoration: none;
}

#recommend div a:hover {
    color: #ff9c00;
}

#recommend .fl p span {
    color: #ff72fd;
}

#recommend .fr p span {
    color: #006fff;
}

/* 盒子图片设置 */
#recommend  .flexb {
    margin-top: 28px;
}

#recommend  .flexb .absolute {
    text-align: center;
    width: 140px;
    height: 55px;
    background-color: #dbcccc;
    bottom: 12px;
    right: 10px;
}

#recommend .fl .flexb .absolute {
    line-height: 55px;
    font-size: 24px;
}

#recommend .fr .flexb .absolute {
    font-size: 18px;
}

#recommend .flexb .absolute span {
    color: #9d9d9c;
}

/* 服饰配置，童装，人生，家居公用样式 */
/* 左边 */
.leisure {
    margin: 40px 0 75px;
}

.leisure .left {
    width: 260px;
    height: 515px;
    flex-direction: column;
    justify-content: space-between;
}

/* 左边标题 */
.leisure .left span {
    font-size: 20px;
    left: 30px;
    top: 5px;
    letter-spacing: 10px;
}

/* 左边内容 */
.leisure .left .content {
    height: 460px;
}

.leisure .left .content img {
    width: 260px;
    height: 330px;
}

.leisure .left .content div {
    flex-wrap: wrap;
}

.leisure .left .content .absolute {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 10px 10px 0;
    width: 155px;
    height: 45px;
    top: 240px;
    padding: 10px 20px;
}

.leisure .left .content p {
    font-size: 24px;
}

.leisure .left .content a {
    text-align: center;
    color: #6f6f6f;
    display: inline-block;
    width: 70px;
    line-height: 24px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    margin: 8px 0;
    text-decoration: none;
}

/* 右边选项卡 */
.leisure .right {
    flex-direction: column;
    justify-content: space-between;
    height: 515px;
    width: 925px;
}

/* 选项卡标题 */
.leisure .right p {
    text-align: right;
}

.leisure .right p a {
    display: inline-block;
    line-height: 35px;
    color: #808080;
    text-decoration: none;
}

/*选项卡第一部分  */
.leisure .right .part1,
.leisure .right .part2 {
    width: 455px;
    height: 460px;
    flex-direction: column;
    justify-content: space-between;
}

/*  轮播图*/
.swiper-container3 img {
    width: 455px;
    height: 300px;
}

.swiper-container3 {
    overflow: hidden;
    width: 455px;
    height: 300px;
    margin-bottom: 10px;
}

/* 轮播图按钮 */
.leisure .swiper-button-prev {
    left: 0;
    outline: 0;
}

.leisure .swiper-button-next {
    right: 0;
    outline: 0;
}

.swiper-container3 .swiper-button-prev:after,
.swiper-container3 .swiper-button-next:after {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    width: 80px;
    line-height: 60px;
    text-align: center;
}

.leisure .swiper-button-next:after {
    border-radius: 30px 0 0 30px;
    background-color: rgba(0, 0, 0, 0.3)
}

.leisure .swiper-button-prev::after {
    border-radius: 0 30px 30px 0;
    background-color: rgba(0, 0, 0, 0.3)
}

/* 轮播图标题 */
.swiper-container3 .title {
    font-size: 18px;
    width: 455px;
    line-height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    z-index: 999;
    letter-spacing: 1px;
}

/* 选项卡第二部分 */
.leisure .right .part2 .flexb div {
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 10px;
}

.leisure .right .part2 span {
    font-size: 18px;
}

/* 底部商标 */
.leisure .bottom {
    width: 1200px;
    height: 65px;
    margin-top: 10px;
}

/* 选项卡单独样式 */
#cloth .right p .on {
    color: #ff9c00;
}

#cloth .right p .on span {
    padding-bottom:10px;
    border-bottom: 2px solid #ff9c00;
}

#children .right p .on {
    color: #7a45e5;
}

#children .right p .on span {
    padding-bottom:10px;
    border-bottom: 2px solid #7a45e5;
}

#life .right p .on{
    color: #f770cf;
}
#life .right p .on span{
    padding-bottom:10px;
    border-bottom: 2px solid #f770cf;
}

#extension .right p .on{
    color: #00b262;
}
#extension .right p .on span{
    padding-bottom:10px;
    border-bottom: 2px solid #00b262;
}

/* 选项卡效果*/
.leisure .right .option{
    width: 925px;
    height: 460px;
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 9999;
    display: none;
}
.leisure .right .option img{
    width: 925px;
    height: 460px;
}
.leisure .right .show{
    display:flex;
}

