/* 登录样式表 */
@charset "utf-8";

/*  头部*/
#header {
    height: 115px;
}

#header .container {
    padding: 13px 0;
}

#header .container>img {
    margin-left: 30px;
}

#header .container>div {
    margin-right: 30px;
    color: #003333;
    line-height: 24px;
    padding-top: 13px;
}

#header .container>div img {
    margin-right: 15px;
}

/* 内容 */
#section {
    height: 600px;
    background-image: url(../img/upload_541i9di2b3icf9j13f24e0bg7b1i6_1920x600.png);
}
/* 登录盒子 */
#section .login-box {
    width: 400px;
    height: 445px;
    opacity: 0.9;
    top: 50px;
    right: 50px;
    color: #808080;
    font-size: 18px;
}
/* 登录方式选择 */
#section ul {
    height: 40px;
    margin-top: 45px;
    color: #808080;
    border-bottom: 1px solid #c5bcbb;
}

#section ul li {
    width: 135px;
    text-align: center;
}

#section ul .on {
    border-bottom: 3px solid #ff8a00;
}

#section ul>img {
    width: 61px;
    height: 61px;
    top: -37px;
    right: 12px;
}

/*登录出错 */
#section .loginfalse{
    width: 330px;
    height: 30px;
    background-color: #ffebeb;
    border: 1px solid #faccc6;
    color: #e4393c;
    margin-left: 35px;
    margin-top: 15px;
    display: none;
}
#section .empty{
    width: 330px;
    height: 30px;
    margin-left: 35px;
    margin-top: 15px;
    display: none;
}
#section .on{
    display: block;
}

/* 普通登录form表单 */
#section form {
    flex-direction: column;
    height: 300px;
    /* margin-top: 15px; */
}

#section form input {
    width: 310px;
    height: 45px;
    padding-left: 20px;
    border: 2px solid #bfb8b7;
    outline: 0;
}

#section form input::placeholder {
    letter-spacing: 1px;
    font-size: 16px;
}

#section form button {
    width: 330px;
    height: 45px;
    cursor: pointer;
    box-sizing: content-box;
    outline: 0;
    border: 0;
    background-color: #ffa200;
    color: #fff;
}

#section form>div,
#section form>p {
    width: 330px;
    margin: 0 auto;
}

#section form>p:nth-child(4) {
    flex-direction: row-reverse;
}

#section form>p:nth-child(5) {
    margin-bottom: 15px;
}

#section form>div>img {
    right: 0;
    top: 0;
    height: 49px;
}
#section form>p a{
    color: #808080;
}
#section form>p img {
    margin: 0 5px;
}


/* 手机无密码登录 */
#section .code-box {
    width: 400px;
    height: 445px;
    opacity: 0.9;
    top: 50px;
    right: 50px;
    color: #808080;
    font-size: 18px;
    flex-direction:column;
    letter-spacing: 2px;
    display: none;
}
#section .code-box .login-code{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
#section .code-box>p{
    text-align: center;
}
#section .code-box>div{
    width: 160px;
    margin: 0 auto;
}
#section .code-box .pic1{
    width: 52px;
    height: 52px;
    right: -108px;
    top: -17px;
}



/* 尾部 */
/*页脚服务  */
.footer-service {
    height: 291px;
    background-color: #fff;
    padding: 50px 0;
}

/* 上部图标 */
.footer-service .top {
    padding: 0 35px;
}

.footer-service .top span:first-child {
    font-size: 20px;
    color: #333333;
}

.footer-service .top span:last-child {
    color: #333333;
    color: #9f9f9f;
}

.footer-service .top>div {
    width: 238px;
    height: 66px;
    padding: 0 20px;
    border-right: 1px solid #dadada;
}

.footer-service .top>div:last-child {
    border: none;
}

.footer-service .top .about {
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

/* 下部自定义列表 */
.footer-service .bottom {
    height: 170px;
    justify-content: space-around;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 2px solid #dadada;
}

.footer-service dt {
    font-size: 18px;
    line-height: 28px;
}

.footer-service dd {
    font-size: 17px;
    color: #808080;
    line-height: 28px;
}

/* 二维码 */
.footer-service .bottom .code {
    width: 90px;
}

.footer-service .bottom .code img {
    margin-top: 14px;
}

/* 页脚项目 */
.footer-items .container {
    flex-direction: column;
    height: 116px;
}

.footer-items p {
    text-align: center;
    margin: 13px auto;
    width: 870px;
    color: #808080;
    letter-spacing: 1px;
    height: 38px;
    line-height: 24px;
}

.footer-items .container div {
    width: 565px;
    margin: 0 auto;
}