/* 登录样式表 */
@charset "utf-8";

/*  头部*/
#header {
    height: 115px;
}

#header .container {
    padding: 13px 0;
}

#header .container>img {
    margin-left: 30px;
}

#header .container>div {
    margin-right: 30px;
    color: #003333;
    line-height: 24px;
    padding-top: 13px;
}

#header .container>div img {
    margin-right: 15px;
}

/* 内容 */
#register .container {
    justify-content: center;
}

#register .contain {
    width: 996px;
    height: 700px;
    margin: 25px 0 64px;
    border-top: 2px solid #d1d1d1;
}

/* #register .contain:nth-child(2) {
    display: flex;
} */

/* 标题 */
#register ul {
    width: 840px;
    margin: 0 auto;
    /* justify-content: space-around; */
    margin-top: 20px;
    margin-bottom: 48px;
    border-bottom: 1px solid #d5d5d5;
}

#register ul li {
    color: #333333;
}

#register li div {
    padding: 15px 66px;
    display: none;
}

#register li div:first-child {
    color: #9f9f9f;
}

#register li div:nth-child(2) {
    border-bottom: 3px solid #ff9c00;
}

#register li .on {
    display: block;
}

/* 协议 */
#register .agreement {
    color: #666666;
    margin-top: 44px;
    border: 2px solid #dadabd;
    border-top: 2px solid #ff9c00;
    padding: 25px;
    width: 650px;
    height: 483px;
    margin: auto;
    /* display: none; */
}

#register .agreement h1 {
    font-size: 16px;
    margin-bottom: 18px;
}

#register .agreement p {
    line-height: 15px;
}

#register .agreement span {
    color: #9f9f9f;
}

#register .agreement p:nth-child(16),
#register .agreement p:nth-child(18),
#register .agreement p:nth-child(20),
#register .agreement p:nth-child(22) {
    color: #ff9c00;
}

/* 按钮 */
#register .agreement button {
    width: 180px;
    height: 38px;
    background-color: #ff9c00;
    border: 0;
    cursor: pointer;
    outline: 0;
    border-radius: 15px;
    color: #fff;
    letter-spacing: 3px;
}

#register .agreement p:last-child {
    text-align: center;
}

/* 填写表单 */
#myform {
    margin: 0 auto;
    width: 400px;
    color: #6e8b89;
    display: none;
}

#myform .items {
    margin-bottom: 18px;
    text-align: right;
    font-weight: bold;
    position: relative;
}

#myform .items input {
    width: 280px;
    height: 28px;
    padding-left: 10px;
    border: 2px solid #cacaca;
    outline: none;
}

#myform .items select {
    width: 90px;
    height: 30px;
    outline: 0;
    border: 2px solid #cacaca;

}

#myform .items:nth-child(6) input {
    width: 170px;
}

#myform .items:nth-child(8) input {
    width: 163px;
}

#myform .items:last-child {
    text-align: center;
    margin-top: 30px;
}

#myform .items input::placeholder {
    color: #999999;
    font-size: 13px;
    letter-spacing: 1px;
}

#myform button {
    outline: 0;
    background-color: #f19d01;
    color: #fff;
    border: 0;
    letter-spacing: 3px;
    cursor: pointer;
}

#myform #ptn1 {
    width: 112px;
    height: 32px;
    border-radius: 12px;
    font-size: 14px;
}

#myform #ptn2 {
    width: 230px;
    height: 40px;
    border-radius: 20px;
}
/* 密码强度 */
#myform .items span {
    display: inline-block;
    width: 97px;
    height: 10px;
}

#myform .items span:nth-child(2){
    background-color: yellow;
}

#myform .items span:nth-child(3) {
    background-color: orange;
}

#myform .items span:nth-child(4) {
    background-color: #0f0;
}

/* 修改error样式 */
#myform .items label.error{
    width: 100%;
    position: absolute;
    top:33px;
    left:110px;
    color:red;
    text-align: left;
}
/* 登陆成功 */
#register .success{
    width: 250px;
    margin: 0 auto;
    font-size: 24px;
    margin-top: 100px;
    display: none;
}
#register .success img{
    margin-left: 70px;
    margin-bottom: 30px;
}



/* 尾部 */
/*页脚服务  */
.footer-service {
    height: 291px;
    background-color: #fff;
    padding: 50px 0;
}

/* 上部图标 */
.footer-service .top {
    padding: 0 35px;
}

.footer-service .top span:first-child {
    font-size: 20px;
    color: #333333;
}

.footer-service .top span:last-child {
    color: #333333;
    color: #9f9f9f;
}

.footer-service .top>div {
    width: 238px;
    height: 66px;
    padding: 0 20px;
    border-right: 1px solid #dadada;
}

.footer-service .top>div:last-child {
    border: none;
}

.footer-service .top .about {
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

/* 下部自定义列表 */
.footer-service .bottom {
    height: 170px;
    justify-content: space-around;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 2px solid #dadada;
}

.footer-service dt {
    font-size: 18px;
    line-height: 28px;
}

.footer-service dd {
    font-size: 17px;
    color: #808080;
    line-height: 28px;
}

/* 二维码 */
.footer-service .bottom .code {
    width: 90px;
}

.footer-service .bottom .code img {
    margin-top: 14px;
}

/* 页脚项目 */
.footer-items .container {
    flex-direction: column;
    height: 116px;
}

.footer-items p {
    text-align: center;
    margin: 13px auto;
    width: 870px;
    color: #808080;
    letter-spacing: 1px;
    height: 38px;
    line-height: 24px;
}

.footer-items .container div {
    width: 565px;
    margin: 0 auto;
}